@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.bg-dark {
  background-color: #2C3E50;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.h4, h4 {
  text-align: center;
  font-weight: bold;
}

.custom-color {
  background-color: #2C3E50;
  color: #2C3E50; /* Set text color to match background or choose a contrasting color */
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  }
  
  .brand-logo img {
  max-width: 100%;
  height: auto;
  }
  

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #55741c;
}

.row{
  justify-content: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
