body {
    margin: 0;
    padding: 0;
      font-family: "Lato", sans-serif;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
  
  header, main, footer {
      text-align: center;
      padding: 20px;
  }
  
  
  .title{
    background-color: #588F34;
    color: white;
    padding:5px;
    text-align: left;
    left: 0%;
}

.title img{
  margin-right:20px column}

.title .split2{
  float: left;
  padding: 10px;
  margin-left: 5px;

}
.header h1{
  color: black;
  margin-left: 15px;
 font-family: Verdana, sans-serif;
  font-size: 180;
}

.title2{
    background-color: forestgreen;
    color: white;
    font-family:monospace;
    padding: 2px;  

}


#visitor-profile {
    float: left;
    margin-left: 50px;
    margin-top: 60px;
}


#attendance-table-container {
    max-height: 400px; 
    overflow-y: scroll;
    margin: 30px 150px;
}
  table {
      padding: 1px solid black;
      border: 1px solid black;
      width: 50%;
      margin: 30px 150px;
      border-collapse: collapse;
      float: right;
  }
  
  thead {
      color: black;
      padding: 40px;
      text-align: center;
  }
  
  th, td {
      padding: 10px;
      text-align: center;
      border: 1px solid black;
  }
  
  
  
  img{
      border-radius: 50%;
      width: 400px;
  }


table {
    width: 50%; 
    text-align: center;
}
th{
    position: sticky;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




    